body {
  background-color: aqua;
}

.mePic {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  text-align: center;
}

.content {
  display: inline-block;
  margin-top: -10px;
} 

table {
  text-align: center;
}

