body {
  background-color:rgb(191,211,233);
}

.mePic {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.links, h1 {
  text-align: center;
}

a, .content, ol {
  margin-top: -10px;
} 
/* from https://www.w3schools.com/css/css_boxmodel.asp */
div {
  background-color: rgb(191,211,233);
  width: 400px;
  border: 15px;
  padding: 5px;
  margin: 20px;
}

table {
  text-align: center;
}

footer {
  text-align: right;
  padding-right: 5px;
  padding-bottom: 5px;
}